/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
}

section {
  border: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

section.cover {
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

img.playimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

img.shakespeareimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

/* If you have created any new stlyes in InDesign and used export tags then you need to add them here */

section.dramatis {
}
section.play {
}
div.sceneImage {
}
h1.act {
}
p.character {
}
p.charactername {
}
h1.dramatishead {
}
h2.firstscene {
}
h2.location {
}
p.play_location {
}
p.prose {
}
h2.scene {
}
p.song {
}
h2.stagedirection {
}
p.verseline {
}
span.character_role {
}
span.stage_directions_inline {
}

span.character_beforespeech {
}
* {
    margin: 0;
    box-sizing: border-box;
}

.AmericanTypewriter {
    font-family: "American Typewriter", monospace;
  }

body {
     font-family: 'Roboto Serif', sans-serif;
     background-color: #030514;
    }
h1{ 
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Roboto Serif', sans-serif;
    font-style: oblique;
    font-size: 40px;
}




main {
width: 90%;
max-width: 800px;
border: 1px solid purple;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
background-color: white;
}

p {
    line-height: 1.5;
}

ul {
    line-height: 1.5;
    font-size: 18px;
}

img {
    width: 100%;
    }

figure {
    width: 100%;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
}

section {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
    background-color: #643b65;
    color: white;
    padding: 8px;

}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        padding: 0;
        border: none;
    }

    ul {
        font-size: .9em;
    }

    main {
        max-width: 50%;
    }

    p { 
        font-size: .9em;
    }
}
